:root {
  /*============================  COLORS ===========================*/
  --principalBgColor: hsl(27, 66%, 92%);
  --generalCardColor:  hsl(33, 100%, 98%);
  --colorCardHeader: hsl(10, 79%, 65%);
}
.App{
  font-family:  "DM Sans" ;
}

.card-chart-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--principalBgColor);

}

.card-chart-container2{
  margin: auto;
  width: 90px;
  min-width: 490px;
  max-width: 18rem
  
}